build
analysis/out*
analysis/perf.data
deps
.cache
test_slave/kvstore
.clangd
build_jemalloc
build_malloc
analysis
kvstore.*
perf.user.*
build*
flamegraph.svg
out.folded
out.perf
perf.data
test_slave/dump.rdb
